@using System.Web
@model SimpleBlog.Models.Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="card">
    <div class="card-body">
        <h1>@Model.Title</h1>
        <p class="card-text">@Model.Author.UserName</p>
        <p class="card-text"><small class="text-muted">@Model.CreatedTime</small></p>
        <div class="card-text">
            @Html.Raw(HttpUtility.HtmlEncode(Model.Content)?.Replace(Environment.NewLine, "<br/>"))
        </div>
        <div class="mt-4">
            Tags:
            @foreach (var tp in Model.TagPosts)
            {
                <a class="btn btn-light btn-sm" asp-controller="Tag" asp-action="PostList" asp-route-slug="@tp.Tag.Slug">@Html.DisplayFor(m => tp.Tag.Name)</a>
            }
        </div>
    </div>
</div>
