@inject SignInManager<User> SignInManager
@model SimpleBlog.Models.Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="card">
    <div class="card-body">
        <h1>@Model.Title</h1>
        <div class="d-flex justify-content-between">
            <p class="card-text">@Model.Author.UserName</p>
            @if (SignInManager.IsSignedIn(User))
            {
                <div>
                    <button id="delete" class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    <a class="btn btn-primary btn-sm ml-2" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            }
        </div>
        <p class="card-text">
            <small class="text-muted">
                <time datetime="@Model.CreatedTime.ToString("u")">@Html.DisplayFor(m => m.CreatedTime)</time>
                @if (@Model.ModifiedTime != null)
                {
                    <time datetime="@(Model.ModifiedTime.Value.ToString("u"))"> - (Modified at @Html.DisplayFor(m => m.ModifiedTime))</time>
                }
            </small>
        </p>
        <div class="card-text">
            @Html.Raw(Model.Content)
        </div>
        <div class="mt-4">
            Tags:
            @foreach (var tp in Model.TagPosts)
            {
                <a class="btn btn-light btn-sm" asp-controller="Tag" asp-action="PostList" asp-route-slug="@tp.Tag.Slug">@Html.DisplayFor(m => tp.Tag.Name)</a>
            }
        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h3 class="card-title">Comments</h3>
        @if (!Model.Comments.Any())
        {
            <small class="card-text">Be the first to comment.</small>
        }
        @for (var i = 0; i < Model.Comments.Count; i++)
        {
            <div>
                <p>@Html.DisplayFor(m => m.Comments[i].AuthorName)</p>
                <p>@Html.DisplayFor(m => m.Comments[i].Content)</p>
                @if (i < Model.Comments.Count - 1)
                {
                    <hr/>
                }
            </div>
        }
    </div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_DeleteModalPartial" for="@Model" />
}