@model PostListViewModel
@{
    ViewData["Title"] = Model.Title;
}

@foreach (var item in Model.List)
{
    <div class="card mt-3">
        <div class="card-body">
            <a asp-controller="Post" asp-action="Article" asp-route-slug="@item.Slug">
                <h5 class="card-title">@Html.DisplayFor(m => item.Title)</h5>
            </a>
            <p class="card-text">
                <a class="btn btn-light btn-sm" asp-controller="Category" asp-action="PostList" asp-route-slug="@item.Category.Slug">@Html.DisplayFor(m => item.Category.Name)</a>
                <small class="text-muted">
                    - <a href="#">@Html.DisplayFor(m => item.Author.UserName)</a>
                    - <time datetime="@item.CreatedTime.ToString("u")">@Html.DisplayFor(m => item.CreatedTime)</time>
                </small>
            </p>
            <p class="card-text">@Html.DisplayFor(m => item.Excerpt)</p>
        </div>
    </div>
}

<nav class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" asp-route-p="1">&laquo;</a></li>
        <li class="page-item @(Model.List.HasPreviousPage ? "" : "disabled")">
            <a class="page-link px-3" asp-route-p="@(Model.List.PageIndex - 1)">&lsaquo;</a>
        </li>
        @for (var i = Math.Max(1, Model.List.PageIndex - 2); i < Model.List.PageIndex; i++)
        {
            <li class="page-item"><a class="page-link" asp-route-p="@i">@i</a></li>
        }
        <li class="page-item disabled"><a class="page-link">@Model.List.PageIndex</a></li>
        @for (var i = Model.List.PageIndex + 1; i <= Math.Min(Model.List.TotalPages, Model.List.PageIndex + 2); i++)
        {
            <li class="page-item"><a class="page-link" asp-route-p="@i">@i</a></li>
        }
        <li class="page-item @(Model.List.HasNextPage ? "" : "disabled")">
            <a class="page-link px-3" asp-route-p="@(Model.List.PageIndex + 1)">&rsaquo;</a>
        </li>
        <li class="page-item"><a class="page-link" asp-route-p="@Model.List.TotalPages">&raquo;</a></li>
    </ul>
</nav>